<div class="banner" style="background: url(/images/site/homepage-banner.jpg)">

  <h1 class="title">
      Dan Nguyen
  </h1>


  <div>
    I'm an award-winning journalist currently teaching computational journalism at Stanford University. I have been published in more than 10,000 tweets.
  </div>



  <div class="slug">
    <p>I am the bees knees</p>
    <p>
      <a href="//motherfuckingwebsite.com">Resume</a>
      |
      <a href="mailto:{{site.email}}">Email</a>
    </p>
      {% include widgets/social_icons.html %}
  </div>
</div>

