.gallery{
  &.instagram{
    @extend .row;
    .image{
      @extend .col-sm-4;
       padding: 0 !important;
       margin: 0 !important;
       @extend .magic-border;
      .caption{
        p{
          margin: 0 !important;
        }
      }
    }

    .modal .imgwrap{
      width: 85%;
      max-height: 100%;
        margin: auto;

      img{
        max-width: 85%;
      }
    }

  }
}
