.homepage{
  .banner{
    border-bottom: thin solid #aaa;
    min-height: 400px;
    padding-bottom: 2.0em;
    padding-top: 1.0em;
    margin-bottom: 2.0em;
    text-align: center;

    color: white;

    h1.title{
      font-size: 200px;
    }
    .slug{
      font-size: 50px
    }
  }

  @media (max-width: $screen-sm-min) {
    .banner{
      min-height: 100px;
      h1.title{ font-size: 40px; }
      .slug{ font-size: 20px;}

    }
  }
}





.posts_array{
  width: 85%;
  margin: 0 auto;
}

.imgwrap{
  img{
    width: 100%;
  }
}



$box_width: 350px;

.item{


  a.title-link{
    &:link, &:visited{
      color: black;
    }
  }
}

.box-sizer{
  width: $box_width;
}

@media screen and (min-width: 1200px) {
  $box_width: 350px;
  .box-sizer { width: $box_width; }
}
.item.box{
  width: $box_width;
  min-height: 200px;
  // height: $box_height;
  // background:url(http://www.placecage.com/g/400/300);
}
.item.box-1x2{
  // height: $box_height * 2 + $box_gutter * 1;
  // background:url(http://www.placecage.com/g/600/300);
}
.item.box-2x2{
  width: $box_width * 2;
  // height: $box_height * 2 + $box_gutter * 1;
  // background:url(http://www.placecage.com/g/600/600);
}
.item.box-3x3{
  width: $box_width * 3;
  // height: $box_height * 3 + $box_gutter * 2;
  // background:url(http://www.placecage.com/g/900/900);
}
