<ul class="list-unstyled list-inline">

  {% if site.twitter_id %}
  <li>
    <a class="fa fa-twitter" href="https://twitter.com/{{site.twitter_id}}">
    </a>
  </li>
  {% endif %}

  {% if site.github_id %}
  <li>
    <a class="fa fa-github" href="https://github.com/{{site.github_id}}">
    </a>
  </li>
  {% endif %}


  {% if site.instagram_id %}
  <li>
    <a class="fa fa-instagram" href="https://instagram.com/{{site.instagram_id}}">
    </a>
  </li>
  {% endif %}

  {% if site.flickr_id %}
  <li>
    <a class="fa fa-flickr" href="https://www.flickr.com/photos/{{site.flickr_id}}">
    </a>
  </li>
  {% endif %}


  {% if site.youtube_id %}
  <li>
    <a class="fa fa-youtube" href="https://www.youtube.com/user/{{site.youtube_id}}">
    </a>
  </li>
  {% endif %}

  {% if site.tumblr_id %}
  <li>
    <a class="fa fa-tumblr" href="http://{{site.tumblr_id}}.tumblr.com">
    </a>
  </li>
  {% endif %}



</ul>

<!--

twitter_id: dancow
github_id:  dannguyen
flickr_id: zokuga
tumblr_id: eyeheartnewyork
instagram_id: danwinny
resume_url: http://a.danwin.com
email: dun@stanford.edu
 -->
